### Write to Excel file without Overwritting using Python

In [10]:
import pandas as pd
from openpyxl import load_workbook # openpyxl to load the file

Create a excel file with name "Sample File.xlsx" before loading to workbook

In [11]:
book = load_workbook('Sample File.xlsx') # Loading sample excel file to book object
writer = pd.ExcelWriter('Sample File.xlsx', engine='openpyxl') # Defining excelwriter to write to excel
writer.book = book

In [12]:
writer.sheets = dict((ws.title, ws) for ws in book.worksheets) # Read the sheet names in the sample file

#### Write in sheet name "Dataframe1"

In [19]:
data1 = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [20]:
df1 = pd.DataFrame(data1) # Sample dataframe data to write to excel

In [21]:
df1

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [22]:
df1.to_excel(writer, "Dataframe1") # Dataframe1 is the sheetname

#### Write in same excel file with sheet name "Dataframe2"

In [23]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [24]:
df2 = pd.DataFrame(data2) # Sample dataframe data to write to excel

In [25]:
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [26]:
df2.to_excel(writer, "Dataframe2") # Dataframe2 is the sheetname