### Writing two dataframes to single sheet Excel File in different locations

In [1]:
import pandas as pd

In [2]:
data1 = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [3]:
df1 = pd.DataFrame(data1) # dataframe1 data to write to excel

In [4]:
df1

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [5]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [6]:
df2 = pd.DataFrame(data2) # dataframe2 data to write to excel

In [7]:
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

### Method to write dataframe in single sheet

In [8]:
from pandas import ExcelWriter

In [19]:
def dfs2xlsx(df_list,xls_path):
    writer = ExcelWriter(xls_path)
    i=0
    for df in df_list:
        df.to_excel(writer,'Sheet1',startcol=i,startrow =0) # Writing to different columns
        i+= len(df.columns) + 2
    writer.save()

In [20]:
dfs2xlsx([df1,df2],"Sample_generated_file.xlsx") # Passing dataframes in list & Filepath